<h1>Dropdowns View</h1>

{{#resources}}
  <div class="dropdown" data-type="{{type}}">
    <button class="dropdown-launcher">Please Choose a {{type}}</button>
    <div class="dropdown-content">
      <ul>
        {{#values}}
          <li data-id="{{id}}">{{name}}</li>
        {{/values}}
      </ul>
    </div>
  </div>
{{/resources}}
