<!DOCTYPE html>
<html>
  <head>
    <title>JS Toolkit</title>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
  </head>
  <body class="application">
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
